.rating-div {
  text-align: center;
  //overflow-wrap: anywhere;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 0.9rem;
}
.list-group-horizontal{
  width: 100%;
}
.list-group-item{
  width:20%;
}
 

@media (min-width: 320px) and (max-width: 768px) {
  .rating-div{
    font-size: 0.6rem;
  overflow-wrap: anywhere;
  }
  .list-group-item {
    padding: 1rem;
  }
  
}