.login-form-group {
    max-width: 20rem;
  }

.wrapper-form {
  padding: 1.5rem;
}
.registerDiv {
  background-color: #d12e2f;
  border-radius: 0% 0% 5% 5%;
  width: 20rem;
  height: 28rem;
}

.registerButton {
  background-color: #f3c9ca;
}