.user_icon_container{
    & .user_icon_image{
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        width: 10rem;
        height: 10rem;
        background-color: #f1b7b7;
        border-radius: 100%;
        & img{
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 50%;
            width: 50%;
            }
    }
   
}
.sidebar{
    width: 30%;
}
.sidebarStudentImg{
    height: 600%;
    width: 60%;
}