.wrapper {
  width: 100%;
  flex-direction: column;
  text-align: center;
}
.user_icon_container {
  & .user_icon_image {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 10rem;
    height: 10rem;
    background-color: #f1b7b7;
    border-radius: 100%;
    margin: auto;
    & img {
      height: 60%;
      width: 50%;
    }
  }
}

h3 {
  padding-top: 15px;
}
.titleName {
  padding-top: 10px;
  font-size: 1.2rem;
}
.titleBar {
  padding-top: 20px;
  padding-bottom: 20px;
}

.student_icon_container {
  margin-top: 3rem;
  width: 100%;
  & img {
    height: 100%;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .user_icon_container {
    & .user_icon_image {
      width: 7rem;
      height: 7rem;
    }
  }
}
