@import '../../Assets/styles/variables.scss';
@import '~bootstrap/scss/vendor/_rfs.scss';

.hero-image {
  max-width: 100%;
  height: auto;
}

.features {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-list {
  margin-bottom: 3em;

  li {
    display: flex;
    align-items: center;
  }
}

.feature-title {
  margin-left: 1rem;
  @include font-size(1rem);
}

.bullet {
  display: inline-block;
  min-width: 1em;
  min-height: 1em;
  background-color: $cyf-red;
  opacity: 0.5;
  border-radius: 50%;
}